/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1440px;
    width:100%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}
h2{
    font-weight: normal;
}
/*Header*/
.header{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    width:100%;
    padding-left: 7px;
    padding-top: 0px;
    
}
.logo img{
    width:90px;
    padding-top:15px;
    padding-left: 22px;
}
/* Titre */
.title-page{
    padding-left: 5px;
}
/*Search-bar*/

.user-recherche{
    display:flex;
    align-items: flex-start;
    justify-content:flex-start;
    margin-top:30px;
    padding-left: 5px;
}
.img-loc{
    width: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 10px 0px 0px 10px;
    background-color: #DCDCDC;
}

.search-bar{
    width:350px;
    height:50px;
    margin-left: 0;
    margin-top: 0px;
    border: 1px solid #EFEFEF;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

/*Filtres*/
.filtres-user{
    display:flex;
    flex-direction: row;
    margin-top:5px;
    padding-top: 20px;
    padding-left: 5px;
}
.filtres{
    display:flex;
    padding-right: 0px;
    flex-direction: row;
}
.btn-filtre{
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 130px;
    height: 50px;
    margin-top:10px;
    margin-left: 20px;
    padding:5px;
    background-color: white;
    border: 1px solid #EFEFEF;
    border-radius: 25px;
    font-weight: bold;
}
.btn-filtre:hover{
    background-color: #D6EAF8;
    cursor: pointer;
}
.filtreIcon{
    color:#0065FC;
}

/*infos*/
.infos{
    display:flex;
    align-items: flex-start;
    padding-left: 5px;
}
.logo-info{
    width: 5px;
    padding:5px 10px 5px 10px;
    margin-right: 5px;
    border: 1px solid grey;
    border-radius: 25px;
}
.info-txt{
    padding:5px;
}
.fa-info{
    color: #0065FC;
}

/* Cards */
.main-container {
    width: 100%;
    max-width: 1440px;
    margin-top: 20px;
    padding-left:2%;
    padding-right: 2%;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    font-size: 22px;
    margin-bottom: 5px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}
/****** Hebergements ***********/
.hebergements {
    width: 65%;
    margin-top:25px;
    background-color: var(--main-bg-color);
    box-sizing: border-box;
}
.hebergements-cards .card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 33px 5px 10px 0px;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
}
.hebergements-cards a{
    width: 32%;
}
.hebergements-cards img{
    width:100%;
    height: 105px;
    border-radius: 20px 20px 0 0;   
}
.hebergements-cards .card-content{
    width:100%;
    box-sizing: border-box;
}
.hebergements-cards .card-title{
    display: flex;
    margin-left: 10px;
    margin-top: 0px; 
    margin-bottom: 0px;
}
.hebergements-cards .card-subtitle{
    display:flex;
    margin-left: 10px;
    margin-top: 5px; 
    margin-bottom: 0px;
}
.hebergements-cards .card-rating{
    display:flex;
    margin-left: 10px;
    margin-top: 15px; 
    margin-bottom: 0px;
    width: 100%;
}
.afficher{
    margin-left: 15px;
    margin-top: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    margin-top: 25px;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
 } 
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}
.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}
.populaires-cards .card-subtitle {
    margin: 0;
}
.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*Activités à Marseille*/

.activites-marseille {
    width: 100%;
    margin-top:25px;
    box-sizing: border-box;
}
.activites-cards a{
    width: 20%;
    margin-left: 5px;
}
.activites-title{
    padding-left: 34px;
}
.activites-cards {
    display:flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: space-around;
    margin-bottom: 10px;
}
.activites-cards .card-content{
    width: 100%;
    height: 60px;
}
.activites-cards .card{
    display:flex;
    flex-direction: column;
    width:100%;
    height:430px;
    margin:10px 5px 20px 0;
    padding:0px;
    box-sizing: border-box;
}
.activites-cards img{
    width:100%;
    height:85%;
    border-radius: 20px 20px 0 0;
}
.activites-cards .card-title{
    display:flex;
    margin:20px;
}

/*Footer*/
footer{
    padding-left:30px;
    padding-right: 30px;
}
.footer-page{
    display:flex;
    flex-wrap: wrap;
    background-color: var(--main-bg-color);
    box-sizing: border-box;
    width:100%;
}
.footer-column{
    flex-direction: column;
    justify-content: center;
    padding:10px ;
    width:30%; 
}
.footer-title{
    display:flex;
    justify-content: flex-start;
    margin:5px;
    padding-left: 15px;
    width:200px;  
}
.footer-subtitle{
    display:flex;
    justify-content: space-around;
    margin:0;
    padding-top:10px;
    height:20px;
}
.footer-list li{
    list-style-type: none;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 0;
}
.footer-list{
    padding-left: 20px;
}
.footer-txt{
    padding-top: 0px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Desktop */
/* Menus navigation */

@media(min-width:768px){ 

    .menus{
        margin-right:20px;
        padding-top: 0px;
    }
    .menus-navbar{
        padding: 0px 15px 15px 15px;
    }

    .divBoutonNavbar:hover > .barre-navbar-up {
        border-top: 2px var(--main-color) solid;
    }

    .divBoutonNavbar:hover {
        color: var(--main-color);
    }

    .navbar{
        display: flex;
        justify-content: space-between;
    }
   
    .barre-navbar-up{
        margin:0px 0px 20px 0px;
        padding-top: 0px;
        width:100%;
        border: none;
        border-top: 2px solid transparent;
    }
    .barre-navbar-down{
        margin:0px 0px 20px 0px;
        padding-top: 0px;
        width:100%;
        border: none; 
        border-top: 2px solid transparent;
    }

    .hebergements-cards{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        margin: 0;
        padding:0;
        width:100%;
        height:500px;
        box-sizing: border-box;
    }
    .hebergements-and-populaires section {
        border-radius: 20px;
        padding: 30px;
        margin:5px;
        box-sizing: border-box;
    }
}
/* Bouton recherche */
@media (min-width:768px){ 
    .btn-search{
        width: 150px;
        height:50px;
        background-color: #0065FC;
        color: #EFEFEF;
        border: 1px solid #EFEFEF;
        border-radius: 0px 10px 10px 0px;
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
    }
    .btn-search-mobil{
        display:none
    }
 }

/******** Medium devices (tablets, less/equal than 1024px) ********/

@media (max-width: 1024px) {
    
    body{
        max-width:1024px;
        width:100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
    }
    /* Header */
    .header{
        display:flex;
        align-items: flex-start;
        justify-content: space-between;
        width:100%;
        
    }
    .logo img{
        width:100px;
        padding-left: 43px;
    }
    .menus{
        justify-content: space-between;
        
    }
    .menus-navbar{
        margin:10px 0px 10px 20px;
        width: 15px;
        justify-content: space-between;
    }
    .navbar{
        justify-content: space-between;
    }
    /* Filtres */
    .filtres-user{
        display:flex;
        flex-direction: row;
        margin-top:5px;
        padding-top: 20px;
    }
    .filtres{
        display:flex;
        flex-direction: row;
        width: 100%;
    }
    .btn-filtre{
        display: flex;
        justify-content: space-around;
        align-items:center;
        width: 130px;
        height: 50px;
        margin-top:10px;
        margin-left: 20px;
        padding:5px;
        background-color: white;
        border: 1px solid #EFEFEF;
        border-radius: 25px;
        font-weight: bold;
    }
    .btn-filtre:hover{
        background-color: #D6EAF8;
        cursor: pointer;
    }

    /* Cards */
    .main-container {
        width: 100%;
        padding:0 5% 5% 5%;
        box-sizing: border-box;
    } 
    a {
        color: inherit;
        text-decoration: none;
    }
    .section-title {
        font-size: 22px;
        margin: 10px 0px 0px 0px;
    }
    
    .card {
        background-color: white;
        border-radius: 20px;
        padding: 5px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }
    
    .card img {
        object-fit: cover;
    }
    
    .card-title {
        font-size: 16px;
    }
    
    .euro {
        font-weight: 700;
    }
    
    .neutral-star {
        color: var(--main-bg-color)
    }
 
    /* Hebergements */
    .hebergements {
        width:100%;
        box-sizing: border-box;
    }
    .hebergements-cards .card{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        margin: 15px 5px 10px 0px;
        width: 100%;
        box-sizing: border-box;
    }
    .hebergements-cards{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        padding:0px;
        width:100%;
        box-sizing: border-box;
    }
    .hebergements-cards a{
        width: 30%; 
    }
    .hebergements-cards img{
        width:100%;
        height: 105px;
        border-radius: 20px 20px 0 0;   
    }
    .hebergements-cards .card-title{
        display: flex;
        margin-left: 10px;
        margin-top: 0px; 
        margin-bottom: 0px;
    }
    .hebergements-cards .card-subtitle{
        display:flex;
        margin-left: 10px;
        margin-top: 5px; 
        margin-bottom: 0px;
    }
    .hebergements-cards .card-rating{
        display:flex;
        margin-left: 10px;
        margin-top: 15px; 
        margin-bottom: 0px;
        width: 5px;
    }
    .afficher{
        margin:0px 0px 0px 10px;
        font-size: 18px;
    }

    /* Populaire */
    .populaires {
        width: 100%;
    }
    .populaires-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;
    }
    .populaires-cards .card {
        display: flex;
        width: 100%;
        margin-top: 33px;
        box-sizing: border-box;
    }
    .populaires-cards a {
        width: 30%;
    }
    .populaires-cards .card-content {
        width: 67%;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .populaires-cards .card-title {
        font-size: 14px;
    }
    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .populaires-cards img {
        width: 40%;
        height: 136px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    /* Activités */
    .activites-marseille {
        width: 100%;
        margin-top:20px;
        box-sizing: border-box;
    }
    .activites-cards {
        display:flex;
        justify-content: space-around;
        flex-direction: row;
        width:100%;
        margin-top: 10px;
        box-sizing: border-box;
    }
    .activites-cards .card{
        display:flex;
        justify-content: space-between;
        width:100%;
        height:265px;
        box-sizing: border-box;
        
    }
    .activites-cards .card-content{
        width: 100%;
        height: 75px;
        box-sizing: border-box;   
    }
    .activites-cards img{
        width:100%;
        height:185px;
        border-radius: 20px 20px 0 0;
        box-sizing: border-box;
    }
    .activites-cards .card-title{
        margin:5px;
        padding:5px;
    }
    .activites-title{
        padding-left:23px;
    }
    /* Footer */
    footer{
    padding-left:50px;
    padding-right: 40px;
    }
    .footer-page{
        width:100%;
    }
}
@media (max-width: 1024px) and (min-width:768px) {
    .hebergements-and-populaires {
        display:flex;
        flex-direction: column;
    }
    .hebergements-and-populaires section {
        background-color: var(--main-bg-color);
        border-radius: 20px;
        padding: 20px;
        box-sizing: border-box;
        width:100%;
    }
}

/********** Small devices (phones, less than 768px) **********/
@media (max-width: 767.98px) {
    body{
        max-width:768px;
        width:100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
    }
    main{
        width:100%;
    }
    /* Header */
    .header{
        display:flex;
        justify-content: center;
        flex-direction: column;
        width:100%;
        padding-left:0px;
        padding-bottom:0px;
       
    }
    .logo{
        margin:auto;
        justify-content: center;
        width:100%;
    }
    .logo img{
        width:70px;
        padding-left: 40%;
        justify-content: center;
    }
    .menus{
        width: 100%;
        justify-content: space-between;
        margin:auto;
    }
    .navbar{
        display:flex;
        justify-content: space-between;
        width: 100%;
        padding:0px;
        margin-top: 10px;
    }
    .menus-navbar{
        margin: 0px;
        padding:0px;
        justify-content:space-around;
        display:flex;
        width:100%;
    }

    .divBoutonNavbar:hover > .barre-navbar-down {
        border-top: 2px var(--main-color) solid;
    }
    .divBoutonNavbar:hover {
        color: var(--main-color);
    }

    .divBoutonNavbar {
        justify-content: center;
        padding-top:10px;
        width:100%;
    }
   
    .barre-navbar-up ,.barre-navbar-down {
        margin:10px 0px 20px 0px;
        padding-top: 0px;
        width:100%;
        border: none;
        border-top: 2px solid transparent;
        box-sizing: border-box;
    }
    
    .title{
        font-size: 21px;
        margin: 0;
        width: 100%; 
    }
    .title-page{
        padding-left:20px;
    }
    /* Search bar */
    .user-recherche{
        width:94%;
        padding-left:20px;
    }
    .btn-search-mobil{
        width: 40px;
        height:40px;
        margin-right: 20px;
        margin-left: -15px;
        padding-right: 30px;
        padding-left: 15px;
        border-radius: 10px 10px 10px 10px;
        border: 1px solid #EFEFEF;
        background-color:#0065FC;
        cursor: pointer;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }
    .fa-magnifying-glass{
        color:#ffff;
    }
    .btn-search{
        display:none
    }
    .search-bar{
        width:100%;
        height:40px;
        font-size: 15px;
    }
    .img-loc{
        width: 20px;
        height: 20px;
        padding: 10px;
    }
    /* Btn filtre */
    .filtres-user{
        display:flex;
        flex-direction: column;
        margin-top:0px;
        padding-top: 0px;
        padding-left:20px;
        width:94%;
    }
    .filtres-title{
        margin:20px 0 10px 0;
        height: 20px;
    }
    .filtres{
        display:flex;
        flex-wrap: wrap;
        width:100%;
        padding-right:0;
    }
    .btn-filtre{
        display: flex;
        justify-content: space-around;
        align-items:center;
        width: 130px;
        height: 50px;
        margin-top:10px;
        margin-left: 10px;
        padding:5px;
        background-color: white;
        border: 1px solid #EFEFEF;
        border-radius: 25px;
        font-weight: bold;
    }
    .btn-filtre:hover{
        background-color: #D6EAF8;
        cursor: pointer;
    }
    .filtreIcon{
        color:#0065FC;
    }
    /* infos */
    .infos{
        width:97%;
        padding-left:10px;
        }
    .info-txt{
        padding-right: 0px;
        font-size: 14px;
    }
     .logo-info{
        width: 1px;
        padding:2px 10px 2px 7px;
        margin-right: 10px;
        margin-top: 20px;
        margin-left: 10px;
        border: 1px solid grey;
        border-radius: 25px;
        }
    .fa-info{
        color: #0065FC;
    }
    /* Cards */
    .main-container {
        width: 100%;
        margin-top: 0px;
        max-width: 768px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    a {
        color: inherit;
        text-decoration: none;
    }
    
    .section-title {
        font-size: 18px;
        padding-top:10px;
        padding-left: 0px;
        margin-left:10px;
    }
    .card {
        background-color: white;
        border-radius: 20px;
        padding: 5px 0px 5px 5px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }
    
    .card img {
        object-fit: cover;
    }
    
    .card-title {
        font-size: 15px;
    }
    .card-subtitle{
        font-size: 13px;
    }
    
    .euro {
        font-weight: 700;
    }
    
    .neutral-star {
        color: var(--main-bg-color)
    }
    /* Hebergements-and-populaires */
    .hebergements-and-populaires {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        width:100%;
        box-sizing: border-box;
    }
    .hebergements-and-populaires section {
        box-sizing: border-box;
    }
    /* Hebergements */
    .hebergements {
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        width:100%;
        margin-top:10px;
        padding:10px;
        box-sizing: border-box;
        background-color: white;
    }
    .hebergements-cards a{
       width:100%;
    }
    .hebergements-cards .card{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        margin-top:0px;
        margin-left: 10px;
        padding-right: 7px;
        width: 100%;
    }
    .hebergements-cards{
        display:flex;
        padding-right:10px;
        justify-content: space-around;
        flex-direction: column;
        margin-top:10px;
        width: 100%;
        box-sizing: border-box;
        
    }
    .hebergements-cards .card-content{
        width:100%;
        height: 70px;
        box-sizing: border-box;
    }
    .hebergements-cards img{
        width:100%;
        height: 115px;
        border-radius: 20px 20px 0 0;
    }
    .hebergements-cards .card-title{
        display: flex;
        margin: 0 10px 0 10px;
    }
    .hebergements-cards .card-subtitle{
        display:flex;
        margin-left: 10px;
        margin-top: 5px; 
        margin-bottom: 0px;
    }
    .hebergements-cards .card-rating{
        display:flex;
        margin-left: 10px;
        margin-top: 15px; 
        margin-bottom: 0px;
        width: 5px;
    }
    .afficher{
        margin-left: 10px;
        font-size: 16px;
    }
    /* Populaire */
    .populaires {
        width: 100%;
        background-color: var(--main-bg-color);  
        border-radius: 0%;      
        box-sizing: border-box;
        padding: 0px;
        margin:0px;
    } 
    .populaires-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding:10px;
        height: 50px;
    }
    .populaires-cards {
      display:flex;
      box-sizing: border-box;
      justify-content: space-between;
      flex-direction: column;
      flex-wrap: wrap;
      width:96%;
      padding:10px 0px 10px 10px;
      margin-left: 10px;
    }
    .populaires-cards .card {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        width:320%;
    }
    .populaires-cards img {
        width: 33%;
        height: 136px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .populaires-cards .card-content {
        width: 67%;
        padding-left: 15px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .populaires-cards .card-title {
        margin-top: 10px;
        margin-bottom: 4px;
        font-size: 90%;
    }
    .populaires-cards .card-subtitle {
        margin: 0;
        font-size: 90%;
    }
    .populaires-cards .card-rating {
        margin-bottom: 5px;
    }
    /* Activités */
    .activites-marseille{
        box-sizing: border-box;
        width:100%;
        padding-left:10px;
    }
    .activites-cards {
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        width:92%;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 0px;
        padding-right: 0px;
        box-sizing: border-box;
    }
    .activites-cards a{
        width:100%;
        padding-right: 0px;
        margin-left: 0;
    }
    .activites-cards .card{
        display:flex;
        flex-direction: column;
        box-sizing: border-box;
        width:100%;
        height:180px;
        margin:5px 0px 10px 0px;
        padding:0;
    }
    .activites-cards .card-content{
        width: 100%;
        height: 60px;
        box-sizing: border-box;
    }
    .activites-title{
        padding:0px;
    }
    .activites-cards img{
        width:100%;
        height:120px;
        border-radius: 20px 20px 0 0;
        box-sizing: border-box;
    }
    /* Footer */
    footer{
        padding-left:0px;
        padding-right: 0px;
        width: 100%;
    }
    .footer-page{
        width:100%;
        margin:0;
        padding:0;
    }
    .footer-column{
        flex-direction: column;
        justify-content: center;
        padding:10px 0px 0px 0px ;
        width:100%;
    }
}